@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1f;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color-scheme: dark;
}
