@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1f;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color-scheme: dark;
}

.drag-region {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  z-index: 999;
}

.traffic-light-pad {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 52px;
  z-index: 1000;
}
